<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="email_spam_detection.css">
</head>
<body style="height: 100%;width:100%">
<div style="width:100%" class="div1">
    <div style="width:25%;height:100%"></div>
    <div class="div12">
        <div class="div120">
            <li>Username</li>
            <li><input id="text" placeholder="eg: sajan shrestha"></li>
        </div>
        <div class="div120">
            <li>Email Address</li>
            <li><input id="text" placeholder="example@gmail.com"></li>
        </div>
        <div class="div120" >
            <li>Text of spam or ham emails</li>
            <li ><input id="text_spam"></li>
        </div>
        <div class="div120">
            <input type="radio"><label>spam</label>
            <input type="radio"><label>ham</label>
        </div>
        <div class="div120">
            <li>Enters the link present in email</li>
            <li><input id="text" placeholder="https://example.com"></li>
        </div>
        <div  class="div120">
            <li>Upload image</li>
            <li><input id="image"type="file" placeholder="img.jpg"></li>
        </div>
        <div class="div_submit">
            <input id="submit" type="submit" value="submit">
        </div>
    </div>
    <div style="width:25%"></div>
</div>
</body>
</html>