.div1{
display: flex;

}
.div12{
    display: grid;
    align-content: center;
    justify-content: center;
    list-style-type:none;
    width:50;
    background-color: black;
    color:white;
    border-radius: 10px;
}
#text{
    width:100%;
    height:20px;
    border-radius: 5px;
}
#text_spam{
    width:100%;
    height:100px;
}
.div120{
    padding:7px;
}
.div_submit{
    display: flex;
    justify-content: center;
}
#submit{
    border-radius: 4px;
}
#submit:hover{
    background-color: rgb(6, 6, 252);
}